
#result-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}



#result-separator {
    display: flex;
    background-color: whitesmoke;
    border-bottom: 1px solid #000;
}

.result-card-header {
    display: flex;
}

.result-card{
    display: flex;
    flex-direction: column;
    /* background-color: #A9E824; */
}

iframe {
    border: none;
    width: 30px;
    height: 30px;
}

.arrow-button {
    border:none;
    background-color: aquamarine;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.arrow-button:hover {
    background-color: aliceblue;
}

#widget-container{
    width:789px;
    border: 1px solid black;
}

#result-container{
    border: 1px solid black;
    background-color: bisque;
    
}

.result-card {
    width:769px;
    height:106px;
    border:1px solid black;
    background-color: white;
    border-radius: 5px;
    
}

.result-card-header .col{
    background-color: aquamarine;
    margin:auto;
    height:100%;
}

.row-top {
    display: flex;
    flex-direction: row;
    flex-flow: row-wrap;
    background-color:blanchedalmond;
    height:auto;
    margin:0 0 auto 0;
    font-size: 16px;
    font-weight: 900;
    color:black;


}
.row-bottom {
    display: flex;
    flex-direction: row;
    flex-flow: row-wrap;
    background-color:bisque;
    font-size: 14px;
    height:auto;

}
